In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("encoded")

In [3]:
df.head()

,Unnamed: 0,name,rollno,branch,year,gender,age,pt,st,ppl,...,sgpa,personality,behaviour,decison,adaptablilty,life,hobby,hstudy,match,Total_personality_score
0,0,Naman Chaudhary,1803211033,CEIT,4,1,20,1,8,1,...,3,4,4,3,3,3,4,0,1,3.4
1,1,Utsav Mehrotra,1803211058,CEIT,4,1,21,1,2,3,...,2,3,5,1,5,5,1,0,1,3.8
2,2,Akshat Atray,1803211003,CEIT,4,1,21,1,11,1,...,2,4,5,2,5,4,0,0,1,4.0
3,3,Shivam Sharma,1900321290059,CEIT,3,1,20,1,7,2,...,3,4,4,4,3,2,0,0,1,3.4
4,4,Aditya saini,2000321530010,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,20,1,6,1,...,2,4,5,3,5,4,4,2,1,4.2

In [4]:
df.columns

Index(['Unnamed: 0', 'name', 'rollno', 'branch', 'year', 'gender', 'age', 'pt',
       'st', 'ppl', 'spl', 'c_rate', 'w_rate', 'certified', '12', 'sgpa',
       'personality', 'behaviour', 'decison', 'adaptablilty', 'life', 'hobby',
       'hstudy', 'match', 'Total_personality_score'],
      dtype='object')

In [5]:
del df['Unnamed: 0']

In [6]:
df

,name,rollno,branch,year,gender,age,pt,st,ppl,spl,...,sgpa,personality,behaviour,decison,adaptablilty,life,hobby,hstudy,match,Total_personality_score
0,Naman Chaudhary,1803211033,CEIT,4,1,20,1,8,1,3,...,3,4,4,3,3,3,4,0,1,3.4
1,Utsav Mehrotra,1803211058,CEIT,4,1,21,1,2,3,1,...,2,3,5,1,5,5,1,0,1,3.8
2,Akshat Atray,1803211003,CEIT,4,1,21,1,11,1,3,...,2,4,5,2,5,4,0,0,1,4.0
3,Shivam Sharma,1900321290059,CEIT,3,1,20,1,7,2,3,...,3,4,4,4,3,2,0,0,1,3.4
4,Aditya saini,2000321530010,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,20,1,6,1,3,...,2,4,5,3,5,4,4,2,1,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,Sanskar garg,2000320120151,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,19,14,3,2,1,...,2,4,5,5,4,2,0,0,0,4.0
324,Sumit Jaiswal,2000320120176,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,20,12,5,2,1,...,3,3,3,3,3,3,1,0,0,3.0
325,Kapil Panwar,2000320120093,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,20,1,2,2,3,...,2,1,4,3,3,3,1,1,0,2.8
326,Santosh Pandit,2000320120152,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,19,1,3,2,3,...,2,3,4,3,3,3,1,0,1,3.2
327,Dev Tayal,2000320120070,"Computer Science( CS- AI/ML, CS - Data Science...",2,1,17,3,1,1,3,...,1,5,3,1,2,3,0,0,0,2.8

In [7]:
technical = df[["pt","st","ppl","spl","c_rate","w_rate","certified","sgpa","12"]]

In [8]:
technical

     pt  st  ppl  spl  c_rate  w_rate  certified  sgpa  12
0     1   8    1    3       3       3          1     3   3
1     1   2    3    1       3       4          0     2   3
2     1  11    1    3       4       5          1     2   2
3     1   7    2    3       2       3          0     3   2
4     1   6    1    3       3       4          0     2   2
..   ..  ..  ...  ...     ...     ...        ...   ...  ..
323  14   3    2    1       1       1          1     2   2
324  12   5    2    1       3       3          0     3   3
325   1   2    2    3       1       3          0     2   3
326   1   3    2    3       3       2          0     2   2
327   3   1    1    3       2       1          0     1   1

[328 rows x 9 columns]

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltu
from mpl_toolkits.mplot3d import Axes3D
from sklearn_extra.cluster import KMedoids

In [10]:
num_digits=13
models = [
     (
         KMedoids(metric="manhattan", n_clusters=num_digits, 
         init="heuristic", max_iter=2),"Manhattan metric",
     ),
     (
         KMedoids(metric="euclidean", n_clusters=num_digits,  
         init="heuristic", max_iter=2),"Euclidean metric",
     ),
     (KMedoids(metric="cosine", n_clusters=num_digits, init="heuristic", 
      max_iter=2), "Cosine metric", ),
 ]

In [11]:
technical.shape

(328, 9)

In [12]:
num_cols, num_rows,red_data = 9,328,technical
second_model = []
for i, (model, description) in enumerate(models):
    Z = model.fit(technical)
    second_model.append(Z.labels_)
    print(Z.labels_)

[ 5  3  5  5  2  2  4  0  7 11  9 11 11  3  8  9  9  6  9  7  5  9  9  7
  9  1  2  2  7  3  3  2  3  4  1  2  9  9  2  4  9  9  8  6  9  6  9  0
  6  8 11  6  8  8  3  0 10  5  3 10  6  5  3  2  5  8  1  7 11  3  2  0
  9 12 12  3  4  3  9  3  9  6  3  1  6 10  2  4  1  4  7  4  4  0  8  3
  6  6  1 10  9  7 10  1  3 10  9  3  9  1  3  5  9  3  2  0  3  2  9  7
  1  6 10  5  1  8  1  2  8  8  9  8  2  5  5  3 11 11  6  2  2 11  3  3
  2  7  5  5  5  5 10  6  9  9  3  2  4  0  0  0 12  8  0 11  3  7  7  7
  4  0  6  1  2  2  0  8  5  9  7  0  9  0  0  5  3  1  7  7  7  2  9  0
  3 12 11 10  5  2  8 10  2  1  9  1  9  5  6 12  1  5  0  5 12  2  1  8
 12  3 10  0  2  8 11  0 10  3  6  3  0  8  5  0 11  9  8 10  3  7  6  3
  5  7  7  0  9  3  6  2  9  8  3  0  6  0  7  3  8  7  0  3  9  0  7 10
  0  9  9  3  3  3  2  2  2  5  5  6  9  6  0 11  0  2  5  3 12  3  6  6
  6  6  9 11  7  6  9  9  0  3  7  7  6  3  5  7  9  4  2  4  3  0  1  2
  0  9  7  0  2  3  2  3 11  0  7  7  6  3  3 11]
[ 1  9  1  1  1  6  3 10  8 10  8 10  7  5  5 11 11  7  8  3  1 11 11  8
  8  7  2  2  3  5  5 11  5  2 12  8  8  8  8  2  8  8  5  7  8  0  8  9
  0  5 10  0  6  2  5  9  2 11  9  6  8 11  5  1 11  5  7  3  5  5  1  5
  8  4  4  9  7 12 11 12  8  0  9  7  0  6  2  3  7  2  3  3  2  5  9  5
  0  0  7  2 11  3  2  7 12 12  8  9 11  0 12  1  8  9 11 10  5  8 11  3
  4  0  2 11  7  7 12  2  2  5  8  2  2 11 11  9 10  7  0  2  2 10  5 12
  2  3 11  6 11  1  6  0 11  8 12 11  2 12  9  9  4  5  5 10  9  3  3  3
  2  5  0  7  2  2 12  1  1  8  4  5  8  9 10  6  9  7  3  3  3  6  8  5
  5  4 10  6  1  2  5  6  2  0  0  7  8 11  0  0  7  1  9 11  4  2  7  5
  4  6 12  5  2  1 10  5  6  5  0  5  9  6  1  9  7  8  5  2 12  3  0  5
  1  3  3  9 11  5  0  1  0  5 12  5  0  9  3  9  5  3  9  9  8  5  3 12
  5  8  8 12  5  9  8  2 11  1  1  0  8  0 10 10  0  2 11  5 10  5  0  0
  3  0 11  7  7  8  8 11  5  5  8  3  0 12 11  0 11  3  2  2  5  9  2  2
  5 11  7  5  2 12  1 12 10  9  3  0  0  5  5  4]
[ 0  5  0  0  0  9  2  7 12  8 12 10 10  5  5  3 11  1  6  6  0 11 11  6
  6  1  4  4  6  5  5  3  5  9  1  3 11 11  6  9 12 11  4 12 11 10 11  7
  8  5  8 10  1  4  5  1  4  3  5  3 12  3  5  0 12  5 10  6  7  5  2  5
  6  2 10  5 12  5 11  5 11  8  5  1  8  3  2  6  1  4  6  4  2  7  1  7
  2 10  8  0 11  6 11  1  1  1  3  5 11  8  7  0 12  1  3  7  0  3 11  6
  8 10  3  3  1 10  1  4  5  5 12  4  9  0  0  7  8  8 10 12  2  7  5  5
  5  6 11  0  3  0  3 10  3 11  5  3  4  1  7  7  8  5  7  8  5  6  6  6
  2  7  8  1  3  3  1  0  0 11  9  7 11  1  7  0  5 10 10  2  6 12 11  7
  5  8  8  0  0  0  5  3  4  8 10  1 12  0 12  8  8  0  7  0 10  0  1  5
  8  5  1  7  2  0  8  7  0  5 10  2  1  0  0  7  8 12  5  6  1  1 10  0
  0  2  6  7 11  5  8  0 10  5  7  5 10  7  6  5  5  8  7  5 12  7  9  0
  5  6 11  1  5  5  6  6  3  0  0  8 12  8  7  7  8  4  0  4 10  5 10  8
 10 10  3  8 10  6  6  3  7  5 12  4 10  9  3  8 12  4  0  2  5  1  2  2
  7  3  1  5  2  4 12  5  7  7  6  8  8  5  5  7]

c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:275: UserWarning: Cluster 12 is empty! self.labels_[self.medoid_indices_[12]] may not be labeled with its corresponding cluster (12).
  warnings.warn(
c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:243: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:243: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:243: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

In [13]:
model = KMedoids(metric="euclidean", n_clusters=13,  
         init="heuristic", max_iter=2)

In [14]:
model.fit(technical)

c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:243: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

KMedoids(max_iter=2, n_clusters=13)

In [15]:
model.predict([[1,1,1,1,1,1,1,1,1]])

array([12], dtype=int64)

In [16]:
Roll=df['rollno']

In [17]:
f=pd.DataFrame(Roll)

In [18]:
f

            rollno
0       1803211033
1       1803211058
2       1803211003
3    1900321290059
4    2000321530010
..             ...
323  2000320120151
324  2000320120176
325  2000320120093
326  2000320120152
327  2000320120070

[328 rows x 1 columns]

In [19]:
u=pd.Series(model.labels_)

In [ ]:
f["cluster"]=u

In [ ]:
f.head()

In [ ]:
f.loc[f["cluster"]==5]

In [ ]:
df

In [ ]:
print(df.loc[df["rollno"]=="1900320120011"].columns ,df.loc[df["rollno"]=="1900320120011"].values)

In [ ]:
technical = df[["pt","st","ppl","spl","c_rate","w_rate","certified","sgpa","12"]]

In [ ]:
models[1].predict([1,2,0,1,3,2,0,3,3])

In [ ]:
len(second_model[1])

In [22]:
behaviour=df[["personality","behaviour","decison","adaptablilty","life","hobby","hstudy","match"]]

In [23]:
behaviour

     personality  behaviour  decison  adaptablilty  life  hobby  hstudy  match
0              4          4        3             3     3      4       0      1
1              3          5        1             5     5      1       0      1
2              4          5        2             5     4      0       0      1
3              4          4        4             3     2      0       0      1
4              4          5        3             5     4      4       2      1
..           ...        ...      ...           ...   ...    ...     ...    ...
323            4          5        5             4     2      0       0      0
324            3          3        3             3     3      1       0      0
325            1          4        3             3     3      1       1      0
326            3          4        3             3     3      1       0      1
327            5          3        1             2     3      0       0      0

[328 rows x 8 columns]

In [24]:
model2=KMedoids(metric="euclidean", n_clusters=num_digits,  
         init="heuristic", max_iter=2)

In [26]:
model2.fit(behaviour)

c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:275: UserWarning: Cluster 3 is empty! self.labels_[self.medoid_indices_[3]] may not be labeled with its corresponding cluster (3).
  warnings.warn(
c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:275: UserWarning: Cluster 6 is empty! self.labels_[self.medoid_indices_[6]] may not be labeled with its corresponding cluster (6).
  warnings.warn(
c:\users\utkar\pycharmprojects\pythonproject\venv\lib\site-packages\sklearn_extra\cluster\_k_medoids.py:243: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

KMedoids(max_iter=2, n_clusters=13)

In [27]:
model2.predict([[3,3,3,3,3,1,2,1]])

array([2], dtype=int64)

In [30]:
model2.labels_

array([ 0, 12,  8,  4,  5,  5,  5, 12, 12,  5,  0,  5, 12, 12,  8,  7,  9,
       10,  8,  7,  9,  5,  1,  0,  1,  8,  3,  9, 11,  1,  7,  2,  7,  5,
        4,  1,  7,  4,  1,  5,  1,  2,  7,  9, 12,  0,  0,  8,  5,  5,  7,
        5,  9,  1,  4,  7,  3,  2, 12,  9,  0,  2,  1,  7,  8, 12,  5, 11,
        0,  4, 12,  1,  1,  3,  5,  9, 12,  8,  2,  7,  7,  9,  0,  0,  0,
        4,  4,  5,  5,  3,  4,  5,  2,  7,  0,  2,  9,  9,  4,  3,  5,  0,
        1,  0,  2,  0,  0,  5,  0, 12,  3, 11,  2, 12,  2,  4,  5,  2,  4,
        9,  2,  5,  3,  7,  7,  2,  0,  5, 12,  9,  8,  2,  2,  2,  5,  2,
        4, 11,  7,  2, 12,  8, 12,  8,  0,  1, 12,  1,  4,  8,  7,  7,  0,
        0,  9,  2,  5, 12,  4,  3,  7,  1, 12,  0,  0,  4,  2,  4,  5,  7,
       12,  4,  2,  8,  5,  9, 11, 10,  2,  4,  7, 11, 11,  2,  5, 10,  1,
        4, 11,  9, 10,  0,  0,  7,  5,  7,  2,  9,  0,  4,  7, 12,  8,  4,
        4,  9,  8,  7, 10,  0,  2,  2,  7,  3,  0,  2,  5, 11,  7, 11,  4,
        7,  7,  8,  3,  4,  9,  9,  1,  2,  1, 12, 10,  0,  7,  7,  2,  4,
        8,  8,  2,  4,  4,  4,  4, 11, 11,  7, 10,  7,  4,  9,  5,  7,  3,
       12,  4,  9,  5,  0, 12,  3,  5,  5,  3, 12,  1, 12,  4,  7,  1, 12,
       11,  4,  0, 11,  2, 11,  0,  4,  9,  1,  5,  0,  0,  5,  2,  8, 11,
        2,  8, 12,  4,  9,  9,  7,  5, 12,  4,  2,  4, 11,  5,  5,  4,  4,
        2,  0,  0,  4,  0,  2,  4,  9,  4,  9,  0,  4, 12, 11,  4, 11,  3,
        9,  4,  4,  4, 12], dtype=int64)

In [31]:
behv=pd.DataFrame(Roll)

In [33]:
u1=pd.Series(model2.labels_)

In [37]:
behv["behv_cluster"]=u1

In [39]:
behv["behv_cluster"].value_counts()

4     47
0     37
5     37
2     36
7     35
12    30
9     27
1     20
8     19
11    19
3     14
10     7
Name: behv_cluster, dtype: int64

In [40]:
behv.loc[behv["behv_cluster"]==2]

            rollno behv_cluster
31   2000321530131            2
41   2000321530059            2
57   2000321530077            2
61   2000321530074            2
78   2000321530046            2
92   1900320120051            2
95   2000320120005            2
104  2000320120001            2
112  1900321290063            2
114  2000321530131            2
117     1803211028            2
120  2000321530041            2
125  2000321530032            2
131  2000320120056            2
132  2000321530019            2
133  1900320150001            2
135  2000320120088            2
139  2000321530019            2
155  2000320120078            2
166  2000320120101            2
172  1900321290035            2
178  2000321530064            2
183  2000321530023            2
196  2000320129004            2
210     1803211018            2
211     1803211037            2
215  1900320120011            2
229  1900321290053            2
236  2000321530029            2
240  1900321290045            2
276  2000321530011            2
286   2021B0123005            2
289  2000320120195            2
299  2000320120164            2
306  2000320120177            2
311  2000320120078            2

In [41]:
print(df.loc[df["rollno"]=="1900321290035"].columns ,df.loc[df["rollno"]=="1900321290035"].values)

Index(['name', 'rollno', 'branch', 'year', 'gender', 'age', 'pt', 'st', 'ppl',
       'spl', 'c_rate', 'w_rate', 'certified', '12', 'sgpa', 'personality',
       'behaviour', 'decison', 'adaptablilty', 'life', 'hobby', 'hstudy',
       'match', 'Total_personality_score'],
      dtype='object') [['Himani yadav' '1900321290035' 'CEIT' 3 0 19 3 7 2 3 3 1 0 3 3 3 4 3 4
  3 1 2 0 3.4]]